@import "./abstracts/variables";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section h1 {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 10em;
    -webkit-font-smoothing: antialiased;
    align-items: center;
	user-select: none;
    color: white;
    margin: auto;
    letter-spacing: 1.5vh;
    
}
section h2 {
    position: relative;
    color: white;
    font-family: 'Lato', sans-serif;
    align-items: center;
	user-select: none;
}

.button {
    transform: translateY(20vh);
    z-index: 1;
    float: inline-end;
    background-size: contain;
    position: center;
}
.header {
    position: absolute;
    padding: -10px 0;
    background-size: contain;
    transform: translateY(10vh);
}


.center {
    position: absolute;
    padding: 10px 0;
    transform: translateX(1.5vh);
    
}

body {
    
    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
        

        .intro_screen {
            height: 200vh;
            background-image: url(/src/assets/images/intro.jpg);
            background-size: cover;
            background-blend-mode: multiply;
            background-color: $gray-600;
            @include align-center;
        }

        .outro_screen {
            height: 100vh;
            background-color: teal;
            @include align-center;
        }

        .parallax_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;
            @include align-center;
            scroll-snap-align: center;
            scroll-snap-stop: always;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center;
                
            }

            .base_layer {
                transform: translateZ(-300px) scale(2.1);
                z-index: -1;
            }

            .mid_layer {
                transform: translateZ(0);
            }

            .top_layer {
                transform: translateZ(210px) scale(0.3);
            }
        }

        #intro {
            z-index: 0;
        }

        #group-1 {
            z-index: -1;
            
        }

        #group-1 > .base_layer {
            background-color: $gray-700;
        }

        #group-2 {

        }

        #group-2 > .mid_layer {
            background-color: $gray-400;
        }

        #outro {
            background-color: $gray-800;
        }
    }
}